
body {
	background: #c1d2d4;
	margin:24px;
	
}

.timer {
	font-family: sans:serif;
	display: inline-block;
	padding: 24px 32px;
	
	border-radius: 30px;
	background: #eeeeee;
}

.timer-part {
	font-size: 36px;
	font-weight: bold;
	margin: 0;
}

.time {
	justify-self: center;
	align-self: center;
	font-size: 50px;
	border-style: none;
	font-family: 'Anek Tamil', sans-serif;
	text-align:center
	
    }
}

.controls {
	width: 50px;
	height: 50px;
	margin-left: 16px;
	border-radius: 50%;
	border: none;
	color: white;
	background: #0088C2;
}


#startBtn {
	width: 50px;
	height: 50px;
	margin-left: 16px;
	border-radius: 50%;
	align-self: center;
	border: none;
	color: white;
	background: #10B110;
}

#resetBtn {
	width: 50px;
	height: 50px;
	margin-left: 16px;
	border-radius: 50%;
	align-self: center;
	border: none;
	color: white;
	background: #0088C2;
}

#startBtn:hover {
	width: 50px;
	height: 50px;
	margin-left: 16px;
	border-radius: 50%;
	border: none;
	color: white;
	background: hsl(120, 91%, 30%);
}
	
#resetBtn:hover {
	width: 50px;
	height: 50px;
	margin-left: 16px;
	border-radius: 50%;
	align-self: center;
	border: none;
	color: white;
	background: hsl(198, 100%, 30%);