
body {
	background: #c1d2d4;
	margin:24px;
	
}

.timer {
	font-family: sans:serif;
	display: inline-block;
	padding: 24px 32px;
	border-radius: 30px;
	background: #eeeeee;
	float: left;
}

.extra-funcs {
	font-family: sans:serif;
	display: inline-block;
	padding: 24px 32px;
	margin-left: 50px;
	border-radius: 30px;
	background: #eeeeee;
	clear:both;
}

.timer-part {
	font-size: 36px;
	font-weight: bold;
	margin: 0;
}

.time {
	justify-self: center;
	align-self: center;
	font-size: 50px;
	border-style: none;
	font-family: 'Anek Tamil', sans-serif;
	text-align:center
	
    }
}

.controls {
	width: 50px;
	height: 50px;
	margin-left: 16px;
	border-radius: 50%;
	border: none;
	color: white;
	background: #0088C2;
}


#startBtn {
	width: 50px;
	height: 50px;
	margin-left: 16px;
	border-radius: 50%;
	align-self: center;
	border: none;
	color: white;
	background: #10B110;
}

#resetBtn {
	width: 50px;
	height: 50px;
	margin-left: 16px;
	border-radius: 50%;
	align-self: center;
	border: none;
	color: white;
	background: #0088C2;
}

#pauseBtn {
	width: 50px;
	height: 50px;
	margin-left: 16px;
	border-radius: 50%;
	align-self: center;
	border: none;
	color: white;
	background: #C20000;
}

#startBtn:hover {
	
	background: hsl(120, 91%, 30%);
}

#pauseBtn:hover {
	
	background: hsl(0, 100%, 30%); }
	
#resetBtn:hover {

	background: hsl(198, 100%, 30%);
}

#readingBtn {

	width: 200px;
	height: 70px;
	margin-left: 11%;
	margin-top: 10%;
	border-radius: 30px;
	align-self: center;
	border: none;
	color: white;
	background: #0088C2;

}
#writingBtn {

	width: 200px;
	height: 70px;
	margin-left: 11%;
	margin-top: 10%;
	border-radius: 30px;
	align-self: center;
	border: none;
	color: white;
	background: #0088C2;

}
#noCalcBtn {

	width: 200px;
	height: 70px;
	margin-left: 11%;
	margin-top: 10%;
	border-radius: 30px;
	align-self: center;
	border: none;
	color: white;
	background: #0088C2;

}
#calcBtn {

	width: 200px;
	height: 70px;
	margin-left: 11%;
	margin-top: 10%;
	border-radius: 30px;
	align-self: center;
	border: none;
	color: white;
	background: #0088C2;

}
#readingBtn:hover {

	background: hsl(198, 100%, 30%);

}
#writingBtn:hover {

	background: hsl(198, 100%, 30%);

}
#noCalcBtn:hover {

	background: hsl(198, 100%, 30%);

}
#calcBtn:hover {

	background: hsl(198, 100%, 30%);

}